/* You should probably replace this with your own CSS */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: grey;
    color: white;
    font-family: 'Arial', sans-serif;
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/0*SIiRk07skI83JJsj');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center;
}

.App-header {
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(to right,  #e0c1a0, #826d58);
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
}

.App-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.App-content {
    width: 80%;
    max-width: 1200px;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .App-title {
        font-size: 2.5rem;
    }
    .App-subtitle {
        font-size: 1.2rem;
    }
}
