@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
@layer components {
    .button {
        padding: 10px 15px; /* Uniform padding */
        font-size: 16px; /* Standard font size */
        border: none; /* Remove borders if any */
        border-radius: 5px; /* Slightly rounded corners */
        cursor: pointer;
        transition: background-color 0.3s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .brown-button {
        @apply button bg-yellow-800 text-white text-sm font-semibold rounded-full px-2 py-2 hover:bg-yellow-600 transition duration-300 ease-in-out;
        /* Customize font size as needed, e.g., text-lg for larger text */
    }
    .red-button {
        @apply button bg-red-800 text-white text-sm font-semibold rounded-full px-2 py-0 hover:bg-red-600 transition duration-300 ease-in-out;
        /* Customize font size as needed, e.g., text-lg for larger text */
    }
    .blue-button {
        @apply button bg-blue-800 text-white text-sm font-semibold rounded-full px-2 py-2 hover:bg-blue-600 transition duration-300 ease-in-out;
    }
}
